*
!pyproject.toml
!README.md
!LICENSE
!LICENSE-NOTICE.md
!src/
!src/everyframe_validator/
!src/everyframe_validator/**/*.py
!src/everyframe_validator/*.py
!src/everyframe_validator/core/config/*.json
